{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div style="text-align: center; ">
    <div class="lined-container"> 
        <div class="vending-screen">
            <h1>Enter Your Slot Code</h1>

            <form method="post" action="{% url 'order_package' %}" id="vendingForm">
                {% csrf_token %}
                <input type="text" name="slot_code" id="slotCode" readonly placeholder="00" />

                <div class="keypad">
                    {% for num in "1234567890" %}
                        <button type="button" class="key">{{ num }}</button>
                    {% endfor %}
                    <button type="button" id="clear">C</button>
                    <button type="submit" class="confirm">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const input = document.getElementById('slotCode');
    const keys = document.querySelectorAll('.key');
    const clearBtn = document.getElementById('clear');

    keys.forEach(key => {
        key.addEventListener('click', () => {
            if(input.value.length < 2){ // limit to 2 digits
                input.value += key.innerText;
            }
        });
    });

    clearBtn.addEventListener('click', () => {
        input.value = '';
    });
</script>

{% endblock %}
