{% extends "main/base.html" %}
{% load static %}

{% block content %}
<a href="{% url 'order_screen' %}" class="splash-container" style="background-image: url('{% static 'VendOS/media/gifts.gif' %}');">
    <div class="splash-text">Touch The Screen To Order</div>
</a>

<style>
body {
        background-image: url("{% static 'VendOS/media/ripple.gif' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
{% endblock %}
